body {
    margin: 0;
    padding: 0;
    background-color: #750804;
    overflow-x: hidden;
    font-family: 'Playfair Display', serif;
}

.container {
    position: relative;
    width: 100%;
    height: 100vh;
}

.title {
    position: absolute;
    top: 2%;
    left: 20%;
    font-size: 5vw;
    font-family: 'Luxurious Script', cursive;
    color: white;
}

.subtitle {
    position: absolute;
    top: 7%;
    left: 50%;
    font-size: 3vw;
    transform: translateX(-50%);
    color: white;
}
